.dream-team-carousel {
  //position: relative;

}

.dream-team-item {
  //position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 730px;
  height: 490px;
}

.d-t-item-1 {

}