.carousel-main-container {
  display: flex;
  align-items: center;
}

.dream-team-window {
  width: 730px;
  height: 490px;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.dream-team-all-pictures {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
}

.arrowLeft {
  position: absolute;
  margin-left: -65px;
}

.arrowRight {
  margin-left: 35px;
}
