.banner {
    position: relative;
    padding-top: 215px;
    //margin-top: 95px;

    &:after {
        //content: '';
        //background-color: #F1EADC;
        //position: absolute;
        //top: 0;
        //left: 50%;
        //width: 50%;
        //height: 826px;
        //z-index: -1;
    }

    .bg-color-div {
        background-color: #F1EADC;
        position: absolute;
        top: -115px;
        left: 60%;
        width: 100%;
        height: 885px;
        z-index: -1;
    }

    &-left {
        .headline {
            max-width: 585px;
            margin-bottom: 45px;
        }

        .label {
            width: 385px;
            font-weight: 400;
            font-size: 20px;
            text-align: right;
            letter-spacing: 0.02em;
            margin-bottom: 52px;
            line-height: 1.4;
        }

        .button {
            font-size: 17px;
            margin-left: 150px;
        }
    }

    &-right {
        .image-wrapper {
            max-width: 410px;
            height: 646px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //width: 600px;
                //height: 495px;
                //position: absolute;
                //right: 0px;
                //top: 0px;
                //z-index: -1;
                vertical-align: middle;
            }
        }
    }

    .switcher {
        margin-top: 125px;
        //background: aqua;
        width: 114px;
        gap: 12px;
        margin-left: 270px;

        .rectangle {
            width: 30px;
            height: 4px;
            background: #D1D1D1;
            cursor: pointer;
            box-sizing: border-box;
            position: relative;
        }

        .rectangle::after {
            content: '';
            display: block;
            position: absolute;
            width: 30px;
            height: 15px;
            top: -8px;
        }

        .active {
            background: black;
        }
    }

    .button {
        margin: 65px 40% 0;
    }

    .important-for-us {
        height: 270px;
        margin-right: 30px;

        img {
            width: 61px;
            height: 61px;
            margin-bottom: 37px;
        }

        h3 {
            margin-bottom: 24px;
        }

        p {
            width: 305px;
        }
    }

    .dream-team-block {
        display: flex;
        align-items: center;
        //justify-content: space-around;

        .dream-team-text {
            margin-left: 65px;
        }

        p {
            margin: 28px 0;
        }

        .link-more {
            color: $main-color;
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            letter-spacing: 0.02em;
        }
    }
}

