.not-found {
    background-color: #F1EADC;
    max-width: 100%;
    height: 500px;
    margin: 50px;
    border-radius: 10px;
    justify-content: center;

    &__code {
        font-size: 160px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__description {
        font-size: 20px;
        margin-bottom: 15px;
    }
}