.product {
  display: flex;
  margin-top: 102px;

  img {
    width: 536px;
    height: 729px;
  }

  .optionsOfProduct {
    margin-left: 74px;
    margin-top: 117px;
  }
}

.colorBtn {
  width: 41px;
  height: 41px;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 14px;
}