* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 0 5%;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: transparent;
    font-size: 17px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}