
.header{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  .header-links{

    a{
      text-decoration: none;
      margin-left: 45px;
      font-weight: 500;
    }
    a:hover{
      color: #6E9C9F;
    }
  }
  .phone{
    p{
      margin: 0;
    }
    display: flex;
    gap: 30px;
    img{
      width: 24px;
      height: 24px;
    }
  }
}